<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
  rel="stylesheet"
/>

<div class="post">
  {{#recipes}}
    <h2 class="acount">{{name}}</h2>
    <img src="/uploads/{{bild}}" alt="picture" />
    <div class="titelpost">
      <h1 class="titelrezepte">{{titel}}</h1>
      <p class="datum">{{datum}}</p>
    </div>
      <img src="/sternentaste-bewerten.png"/>
      <p class="sterne">{{sterne}}</p>
    <p class="rezeptbeschreibung">{{text}}</p>
    <a href="/{{id}}/bewertungen">Bewertungen</a>
  {{/recipes}}
</div>

  <a href="/bewertung">
    <img src="/sternentaste-bewerten.png" />
  </a>
  <a href="/bewertungen">
    <img src="Kommentar.svg" />
  </a>
</div>